<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /api-vue/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /api-vue/index.html [L]
</IfModule>
