// Coloque aqui as variáveis do projeto SASS

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 992px
);

// TODO:
// Paleta de Cores
// $cor-branco: #ffffff;
// $cor-preto: #000000;
// $cor-azul-claro: #2E4772;
// $cor-vermelho-claro: #FF0000;

// TODO:
// Definição das Cores do Site
// $cor-neutra: $;
// $cor-primaria: $;
// $cor-secundaria: $;

// TODO:
// Variáveis de Padrões
$padrao-font-family: "Helvetica";
$padrao-font-size: 16px;
$padrao-line-height: 1.3;
